{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Change
  Password" %}
{% endblock head_title %}
{% block content %}
  {% element h1 %}
  {% if token_fail %}
    {% trans "Bad Token" %}
  {% else %}
    {% trans "Change Password" %}
  {% endif %}
{% endelement %}
{% if token_fail %}
  <p>
    {% blocktrans %}The password reset link was invalid, possibly because it has
  already been used. Please request a
  <a href="{{ password_reset_url }}">new password reset</a>.{% endblocktrans %}
  </p>
{% else %}
  <p>{% trans "You can now reset your password." %}</p>
  <a href="{{ password_reset_url }}">
    <button>{% trans 'Reset Password' %}</button>
  </a>
{% endif %}
{% endblock content %}
